@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<FIT5032_Assignment_Portfolio.Models.Hotel>

<form>
    <h3>Filter</h3>
    @Html.Label("Date") <input type="text" style="width: 90px;" id="date" name="date" value="@ViewBag.date" />
    @Html.Label("Neighbourhood") <input type="text" style="width: 200px;" id="neigh" name="neigh" value="@ViewBag.neighbourhood" />
                                 <input type="button" value="Search" onclick="window.location.href = '/Hotels/Find?date=' + document.getElementById('date').value + '&neigh=' + document.getElementById('neigh').value " />
    <br /><input type="button" value="Clear Filter" onclick="window.location.href = '/Hotels/Find'" />
</form>
<br />

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.HotelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelStar)
        </th>
        <th>
            Location
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/images/@(item.PicName)" width="240" />
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.HotelName)</h3>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
                
            </td>
            <td>
                @for (var i = 0; i < item.HotelStar; i++)
                {
                    <img src="~/images/star.png" width="20" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighbourhood)<br />
                @Html.ActionLink("Show Map", "Map", "Hotels", new { id = item.Id }, null)
            </td>
            <td>
                @if (User.IsInRole("Customer"))
                {
                    @Html.ActionLink("Book", "Book", "Bookings1", new { hotelId = item.Id }, null)
                }
                else
                {
                    <i>~Login as Customer to book~</i>
                }
            </td>
        </tr>
    }

</table>