@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Chart.min.js"></script>

<div class="jumbotron">
    <h1>GoBook</h1>
    <h3>Welcome @ViewBag.Message</h3>
    @if (@ViewBag.roles != "")
    {
        <h3>You are currently logged in as @ViewBag.roles</h3>
    }
    else
    {
        <h3>You are not logged in</h3>
    }
</div>

<div class="row">
    <div class="col-md-8">
        <canvas id="bar-chart" width="800" height="350"></canvas>
    </div>
    <div class="form-horizontal">
        <div class="col-md-4">
            <h2>Find Accommodation</h2>
            <form>
                <div class="form-group">
                    @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-10">
                        <input type="text" style="width: 90px;" id="date" name="date" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Location", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" style="width: 90px;" id="neigh" name="neigh" />
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Search" onclick="window.location.href = '/Hotels/Find?date=' + document.getElementById('date').value + '&neigh=' + document.getElementById('neigh').value " />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        // Bar chart
        var book = [];
        var array = @Html.Raw(Json.Encode(@ViewBag.bc));
        for (var i = 0; i < array.length; i++) {
            book[i] = array[i];
        }

        var name = [];
        var array = @Html.Raw(Json.Encode(@ViewBag.name));
        for (var i = 0; i < array.length; i++) {
            name[i] = array[i];
        }

        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
            labels: name,
                datasets: [
                    {
                label: "Book Counts",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
                        data: book
                    }
                ]
            },
            options: {
            legend: { display: false },
                title: {
                display: true,
                    text: 'Number of bookings per Hotel'
                }
            }
        });
    };
</script>